@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

.main-font{
  font-family: "Lugrasimo", cursive;
  font-style: normal;
}

.no-scrollbar {
  /* for webkit based browsers */
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  
  /* For Chrome, Firefox, Brave */
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}